body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

main {
  width: 100%;
  max-width: 1200px;
}

#lists {
  max-width: 40em;
}

.selected {
  background-color: rgba(1, 135, 134, 0.38);
}

#copy-checklist {
  position: fixed;
  bottom: 25px;
  right: 5%;
}

footer a {
  margin: .5rem;
}

footer a:not(:hover) {
  color: grey;
}

@media (max-width: 30em){
  h1.mdc-typography.mdc-typography--headline1 {
    font-size: 2.5em;
	  width: 100%;
    margin: 0px;
  }
}
