$def with (cacheBust)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=360px, initial-scale=1">
    <title>Organiser</title>

    <meta name="author" content="Kit Maywood">
    <meta name="description" content="Dynamically build packing checklists and to-do lists">

    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="twitter:site" content="@kittsville"></meta>
    <meta property="og:title" content="Organiser" />
    <meta property="og:description" content="Dynamically build packing checklists and to-do lists" />
    <!-- <meta property="og:image" content="https://example.com/static/og-image.png" /> -->
    <!-- <meta property="og:image:width" content="1080" />
    <meta property="og:image:height" content="565" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://o.sci1.uk/" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="/static/material-components-web.min.css" rel="stylesheet">

    <link href="/static/styles.css?v=$cacheBust" rel="stylesheet">

    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico"> -->
  </head>
  <body class="mdc-typography">
    <main>
      <h1 class="mdc-typography mdc-typography--headline1">Organiser</h1>

      <p>Make a checklist by selecting activities:</p>

      <div id="lists">Loading...</div>

      <button class="mdc-button mdc-button--icon-leading">
        <span class="mdc-button__ripple"></span>
        <i class="material-icons mdc-button__icon" aria-hidden="true"
          >add</i
        >
        <span class="mdc-button__label">Add Activity</span>
      </button>
    </main>

    <div id="copy-checklist" hidden>
      <button class="mdc-fab mdc-fab--extended">
        <div class="mdc-fab__ripple"></div>
        <span class="material-icons mdc-fab__icon">content_copy</span>
        <span class="mdc-fab__label">Copy Checklist</span>
      </button>
    </div>

    <footer>
      <a href="/privacy">Privacy Policy</a>
      <a href="https://github.com/kittsville/Organiser">Report a Bug</a>
    </footer>

    <div>
      <script src="/static/material-components-web.min.js"></script>
      <script src="/static/scripts.js?v=$cacheBust"></script>
    </div>
  </body>
</html>
